image: python:3.10

before_script:
  - pip install tox

stages:
  - Base
  - Extras
  - Release

codestyle:
  stage: Base
  script:
    - tox -e codestyle

py310:
  stage: Base
  script:
    - tox -e py310

py310-online:
  stage: Extras
  script:
    - tox -e py310-online
    - pip install --upgrade codecov
    - codecov

py38:
  stage: Extras
  image: python:3.8
  script:
    - tox -e py38

py39-devdeps:
  allow_failure: true
  stage: Extras
  image: python:3.9
  script:
    - tox -e py39-devdeps

build_docs:
  stage: Extras
  before_script:
    # Need graphviz binary for generating inheritance diagrams
    - apt-get update -qq && apt-get install -y -qq graphviz
    - pip install tox
  script:
    - tox -e build_docs

pypi_upload:
  stage: Release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/' # A specific tag with 'vX.Y.Z' pattern is created
  before_script:
    - pip install --upgrade twine pep517
  script:
    - python -m pep517.build --source --out-dir dist .
    - twine upload dist/aiapy*.tar.gz
