image: python:3.10

before_script:
  - pip install tox

stages:
  - Basic
  - Test
  - Extra
  - Deploy

codestyle:
  stage: Basic
  script:
    - tox -e codestyle

py39:
  stage: Basic
  image: python:3.9
  script:
    - tox -e py39

py37:
  stage: Test
  image: python:3.7
  script:
    - tox -e py37

py310-online:
  stage: Test
  script:
    - tox -e py310-online
    - pip install --upgrade codecov
    - codecov

py38-devdeps:
  allow_failure: true
  stage: Extra
  image: python:3.8
  script:
    - tox -e py38-devdeps

build_docs:
  stage: Extra
  image: python:3.9
  before_script:
    # Need graphviz binary for generating inheritance diagrams
    - apt-get update -qq && apt-get install -y -qq graphviz
    - pip install tox
  script:
    - tox -e build_docs

# Upload to PyPI when we push to a tag
pypi:
  stage: Deploy
  # only run on parent tags with semantic versioning names, excluding dev tags
  only:
    - /v\d+\.\d+\.\d+(?!(dev))/@LMSAL_HUB/aia_hub/aiapy
  except:
    - branches
    - merge_requests
  before_script:
    - pip install --upgrade twine pep517
  script:
    - python -m pep517.build --source --out-dir dist .
    - twine upload dist/aiapy*.tar.gz
